# fly.toml app configuration file generated for inventory-microservice-lingering-bird-18 on 2026-02-27T22:50:54+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'inventory-microservice-lingering-bird-18'
primary_region = 'cdg'

[http_service]
  internal_port = 8083
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024
