name: Java CI with Gradle

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4.2.2
      - name: Set up JDK 21
        uses: actions/setup-java@v4.7.1
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Publish the libraries to maven
        run: gradle publishToMavenLocal
      - name: Build microservices and run tests with Gradle
        run: |
          which docker || true
          docker version || true
          docker info || true
          ./gradlew build